<div class="row">
  <div class="col-md-3 search-form">
    <%= render "shop_search_form" %>
  </div>
  <div class="col-md-9 shops">
    <h1 class="title">Shops</h1>
    <div class="wrap">
      <%= render partial: "shop", collection: @shops %>
    </div>
  </div>
</div>
