<div class="profile-wrap">
  <div class="row">
    <div class="col-md-4 text-center">
      <img src=<%= @user.img.url %> class="icon-image">
    </div>
    <div class="col-md-6">
      <div class="row">
        <h1><%= @user.name %></h1>
      </div>
      <div class="row">
        <p class="text-break lh-base"><%= @user.self_introduction %></p>
      </div>
    </div>
  </div>
</div>
