<div class=row>
  <div class="col-md-3 search-form">
    <%= render "bean_search_form" %>
  </div>
  <div class="col-md-9">
    <h1 class="title">Beans</h1>
    <div class="wrap">
      <%= render @beans %>
    </div>
  </div>
</div>
