<section class="page-section" id="services">
  <div class="container my-black">
    <div class="text-center">
      <h1 class="section-heading"><span class="my-red">Coffee First</span> とは</h1>
      <h3 class="section-subheading text-muted">きっとあなたのお気に入りの一杯が見つかる</h3>
      <p class= "top-subheading text-muted">コーヒー豆・焙煎店の検索サイトです</p>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-4x">
          <i class="fas fa-search my-red"></i>
        </span>
        <h4 class="box-2 my-3">検索</h4>
        <hr class="style-1">
        <div class="box-1">
          <p>色々な条件でコーヒー豆・焙煎店を探しましょう！<br>
            「500円以下のブラジル産のコーヒ」「近隣の評価が高い焙煎店」といった具合に色々な条件で検索できます！</p>
        </div>
      </div>
      <div class="col-md-4">
        <span class="fa-4x">
          <i class="fas fa-laptop my-red"></i>
        </span>
        <h4 class="box-2 my-3">登録</h4>
        <hr class="style-1">
        <div class="box-1">
          <p class="text-muted">あなたのお気に入りのコーヒー豆や焙煎店を登録しましょう！</p>
        </div>
      </div>
      <div class="col-md-4">
        <span class="fa-4x">
          <i class="fas fa-user-graduate my-red"></i>
        </span>
        <h4 class="box-2 my-3">評価</h4>
        <hr class="style-1">
        <div class="box-1">
          <p class="text-muted">実際に飲んでみたコーヒー豆や訪れた焙煎店を評価しましょう！</p>
        </div>
      </div>
    </div>
  </div>
</section>
