// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.row {
  margin: 0 -15px;
  display: flex;
}

.search-form {
  text-align: center;
  background-color: brown;
}

.shops {
  text-align: center;
  background-color: cadetblue;
  flex: 1;
}

span {
  color: red;
  padding-right: 0.5em;
}
