// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.icon-image {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
}

.profile-wrap {
  margin: 40px 0px;
}

.login {
  max-width: 80%;
  margin: 30px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin: 10px 0 30px;
}

.guest-login-button {
  text-align: center;
  background-color: #79c06e;
  border-radius: 0.5rem;
}

.login-button {
  text-align: center;
  background-color: #fa8072;
  border-radius: 0.5rem;
}

.delete-button {
  text-align: center;
  background-color: #fff;
  margin-top: 2rem;
}

.field {
  margin: 10px 0 10px;
}

.user-name {
  font-size: 50px;
}

.introduce {
  background-color: #fff;
  min-height: 10px;
}

.bg-lemon {
  background-color: #fffff0;
}

.bg-orange {
  background-color: #ff8c00;
  color: #fff;
}

.introduction {
  display: inline-block;
  word-break: break-all;
  padding: 1.5rem;
  border-radius: 1rem;
  letter-spacing: 0.1rem;
}

@media only screen and (min-width: 960px) {
  .login {
    max-width: 60%;
  }
}
